<ul>
  <% @stories.each() do | story | %>
    <li>
      <%= story.title %>
      <%= story.description %>
      <%= link_to( '삭제', story_path( story.id), :method => :delete, 
        :confirm => '삭제하시겠습니까?' ) %>   
    </li>
  <% end %>
</ul>
