body {
  margin: 0;
  background-color: #eee;
}

/*
 * layout
 */
#layout {
  margin: 0 auto;
  width: 900px;
  background-color: #fff;
}

/*
 * header
 */
#header {
  height: 60px;
}

#global_navigation {
  float: left;
  list-style: none;
  margin: 10px 0 0 0;
  padding: 0;
}

#global_navigation > li {
  float: left;
  margin: 0 0 0 10px;
}

#account {
  float: right;
  list-style: none;
  margin: 10px 0 0 0;
  padding: 0;
}

#account > li {
  margin: 0 10px 0 0;
}

/*
 * side_bar
 */
#side_bar {
  clear: both;
  float: left;
  padding: 10px;
  width: 180px;
  background-color: #ccc;
}

/*
 * content
 */
#content {
  float: right;
  padding: 10px;
  width: 680px;
}

/*
 * footer 
 */
#footer {
  clear: both;
  height: 40px;
}
