body {
  margin: 0;
  background-color: #eee;
}

/*
 * layout
 */
#layout {
  margin: 0 auto;
  width: 900px;
  background-color: #fff;
}

/*
 * global_navigation
 */
#global_navigation {
  float: left;
  list-style: none;
  margin: 10px 0 0 0;
  padding: 0;
}

#global_navigation > li {
  float: left;
  margin: 0 0 0 10px;
}

#account {
  float: right;
  list-style: none;
  margin: 10px 0 0 0;
  padding: 0;
}

#account > li {
  margin: 0 10px 0 0;
}

/*
 * side_bar
 */
#side_bar {
  clear: both;
}

/*
 * content
 */
#content {
  clear: both;
}
